Source: nmrbox-admin-alphafold-filesystem
Section: science
Priority: optional
Maintainer: Gerard Weatherby <gweatherby@uchc.edu>
Build-Depends: debhelper-compat (= 12), libfuse-dev
Standards-Version: 4.4.1
Homepage: https://www.nmrbox.org

Package: nmrbox-admin-alphafold-filesystem
Architecture: all
Depends: ${misc:Depends},python3.12
Description: Mount alphafold filesystem on NMRbox 
	Mount alphafold filesystem on NMRbox 
XB-Nmrbox-Paas: True
XB-Nmrbox-Download: False 
